/* App.css */

/* General Styles */
.container {
  padding: 2rem;
}

.header {
  background-size: cover;
  background-position: center;
  height: 16rem;
  position: relative;
}

.header .overlay {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header h1 {
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
}

.main-content {
  margin-top: 3rem;
}

.section {
  margin-bottom: 3rem;
}

.section h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.section p {
  font-size: 1.125rem;
  line-height: 1.6;
  margin-left: 1rem; /* Add margin left for text */
}

.image-slider {
  margin-bottom: 2rem;
}

/* Home Page Styles */
.home-background {
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

.home-overlay {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-title {
  color: white;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.home-sentence {
  color: white;
  font-size: 1.25rem;
  text-align: center;
  width: 75%;
  line-height: 1.6;
}

/* Attraction Detail Page Styles */
.attraction-detail {
  padding: 2rem;
}

.attraction-title {
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.attraction-image {
  width: 100%;
  height: 16rem;
  object-fit: cover;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.attraction-description {
  font-size: 1.125rem;
}

.attraction-description p {
  font-size: 1.125rem;
  color: #4a4a4a;
  /*line-height: 1.6;*/
}

.attraction-description strong {
  font-weight: bold;
}

.attraction-description em {
    font-size: 1.12rem;
  font-style: italic;
}

.attraction-description ul {
  list-style-type: disc;
  padding-left: 20px;
}

.attraction-map-container {
  display: flex;
  margin-top: 1rem;
  gap: 1rem;
}

.attraction-map-section {
  width: 50%;
}

.attraction-map-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.attraction-map-description {
  font-size: 1.125rem;
}

.attraction-slider-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

/* Attractions Page Styles */
.attractions-page {
  padding: 2rem;
}

.attractions-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
}

.attractions-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

/* Availability Page Styles */
.availability-page {
  padding: 2rem;
}

.availability-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.availability-calendar {
  margin-top: 1rem;
}

/* The Apartment Page Styles */
.apartment-header {
  background-size: cover;
  background-position: center;
  height: 16rem;
  position: relative;
}

.apartment-header .overlay {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.apartment-header h1 {
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
}

.apartment-main {
  margin-top: 3rem;
}

.apartment-section {
  margin-bottom: 3rem;
}

.apartment-section h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.apartment-section p {
  font-size: 1.125rem;
  line-height: 1.6;
  margin-left: 1rem; /* Add margin left for text */
}

.apartment-image-slider {
  margin-bottom: 2rem;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .header h1 {
    font-size: 2rem;
  }

  .home-title {
    font-size: 2rem;
  }

  .home-sentence {
    font-size: 1rem;
  }

  .attraction-title {
    font-size: 1.75rem;
  }

  .attraction-map-container {
    flex-direction: column;
  }

  .attraction-map-section {
    width: 100%;
  }

  .apartment-header h1 {
    font-size: 2rem;
  }

  .apartment-section {
    flex-direction: column;
  }

  .apartment-section h2 {
    font-size: 1.25rem;
  }

  .apartment-section p {
    font-size: 1rem;
    margin-left: 0; /* Remove margin left for text on mobile */
  }
}

/* Button Container */
.button-container {
  display: flex;
  justify-content: space-between;
  padding: 5rem 5rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  /*background: rgba(0, 0, 0, 0.5); !* Dark background for contrast *!*/
  background: transparent;
}

/* Custom Button Styles */
.custom-button {
  background-color: #0b1031; /* or dark blue */
  color: grey;
  border: 2px solid white;
  border-radius: 15px;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: normal;
  transition: all 0.3s ease;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* 3D effect */
  text-decoration: none; /* Remove underline from links */
}

.custom-button:hover,
.custom-button:active {  background-color: #0b1031; /* Change to dark blue on hover */
  color: white; /* Text becomes whiter */
  font-weight: bold; /* Text becomes bold */
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5); /* Enhanced 3D effect */
}

/* Add these styles for smooth transitions */
.transition-all {
  transition-property: all;
}

.duration-500 {
  transition-duration: 500ms;
}

.ease-in-out {
  transition-timing-function: ease-in-out;
}

/* Add this to your animations.css */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.pulse-animation {
  animation: pulse 2s infinite;
}

/* Add this to your App.css or a dedicated CSS file */
.image-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns for smaller images */
  gap: 10px; /* Spacing between images */
  margin-top: 10px;
}

.highlighted-image {
  grid-column: 1 / -1; /* Span across all columns */
  width: 100%;
  height: auto;
  max-height: 500px; /* Adjust as needed */
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
}

.small-image {
  width: 100%;
  height: auto;
  max-height: 200px; /* Adjust as needed */
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
}


/* Add this to your App.css or a dedicated CSS file */
.lightbox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.lightbox-content {
  position: relative;
  max-width: 90%;
  max-height: 90%;
}

.lightbox-image {
  max-width: 100%;
  max-height: 80vh;
  border-radius: 10px;
}

.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.5);
  border: none;
  color: #000;
  font-size: 2rem;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
}

.nav-button.prev {
  left: -50px;
}

.nav-button.next {
  right: -50px;
}

.image-preview {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.preview-image {
  width: 100px;
  height: auto;
  border-radius: 5px;
  opacity: 0.7;
  cursor: pointer;
}

.preview-image:hover {
  opacity: 1;
}

/* Main Swiper container */
.gallery-top {
  width: 100%;
  height: 500px;
  margin-bottom: 20px;
}

/* Thumbs Swiper container */
.gallery-thumbs {
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  padding: 10px 0;
}

/* Swiper slides */
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modern Navigation Buttons */
.swiper-button-next,
.swiper-button-prev {
  color: #fff; /* White text for better contrast */
  background: rgba(0, 0, 0, 0.6); /* Semi-transparent dark background */
  padding: 15px; /* Larger padding for better clickability */
  border-radius: 50%; /* Circular buttons */
  width: 40px; /* Fixed width */
  height: 40px; /* Fixed height */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease; /* Smooth transition for hover effects */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

/* Hover Effects */
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: rgba(0, 0, 0, 0.8); /* Darker background on hover */
  transform: scale(1.1); /* Slightly enlarge on hover */
}

/* Arrow Icons */
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px; /* Icon size */
  font-weight: bold; /* Bold icons */
  color: #fff; /* White icons */
}

/* Position Adjustments */
.swiper-button-next {
  right: 10px; /* Position from the right */
}

.swiper-button-prev {
  left: 10px; /* Position from the left */
}

.feature-section {
  font-size: 1.11rem;
  /*line-height: 1.5em;*/
}

.feature-section p {
  font-size: 1.11rem;
  color: #4a4a4a;
  /*line-height: 1.6;*/
}

.feature-section strong {
  font-weight: bold;
}

.feature-section em {
    font-size: 1.12rem;
  font-style: italic;
}

.feature-section ul {
  list-style-type: disc;
  padding-left: 20px;
}
